
<footer class="footer py-1 mt-8">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mb-3 mx-auto text-center">
				<a href="javascript:;" target="_blank" class="text-white me-xl-5 me-3 mb-sm-0 mb-2">
					Company
				</a>
				<a href="javascript:;" target="_blank" class="text-white me-xl-5 me-3 mb-sm-0 mb-2">
					About Us
				</a>
				<a href="javascript:;" target="_blank" class="text-white me-xl-5 me-3 mb-sm-0 mb-2">
					Team
				</a>
				<a href="javascript:;" target="_blank" class="text-white me-xl-5 me-3 mb-sm-0 mb-2">
					Products
				</a>
				<a href="javascript:;" target="_blank" class="text-white me-xl-5 me-3 mb-sm-0 mb-2">
					Blog
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-8 mx-auto text-center">
				<p class="mb-0 text-white">
					Copyright © 
					<script>
						document.write(new Date().getFullYear())
					</script>
					<strong>Celery Dashboard.</strong>
				</p>
			</div>
		</div>
	</div>
</footer>
