{% extends 'layouts/base.html' %}

{% block title %} Tasks {% endblock title %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Logs</h3>
            <label>Switch Log </label>
            <select id="select_log_opt" style="width: 100px;">
              <option value="1">celery.log</option>
              <option value="2">app.log</option>
            </select>
          </div>

          </div>
        </div>
      </div>
    </div>
    <script>
      let base_url = window.location.origin;

      function loadMore() {
            $.get(base_url + "/v1/ctask", function( data ) {
                let keys = Object.keys(data.data);
                for (let i = 0; i < keys.length; i++) {
                    if (keys[i] === "null")
                      continue

                    let el = document.getElementById("result");
                      el.innerHTML = el.innerHTML +
`
<tr onMouseOver="this.style.background='#26477e'" onMouseOut="this.style.background='#172b4d'"
onClick="(
function(){
  window.location.href = '/task-history.html?task_name=`+ keys[i] + `'
})();">
  <td>
    `+ (i + 1) + `
  </td>
  <th scope="row">
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm">`+ keys[i] + `</span>
      </div>
    </div>
  </th>
  <td>
    <span class="badge badge-dot mr-4">
      <i class="`+ getBg(data.data[keys[i]].latest_status) +`"></i>
      <span class="status">`+ (data.data[keys[i]].latest_status ? data.data[keys[i]].latest_status : "-------------") +`</span>
    </span>
  </td>
  <td>
    `+ (data.data[keys[i]].latest_started ? new Date(data.data[keys[i]].latest_started * 1000) : "-----------------") +`
  </td>
  <td>
    `+ data.data[keys[i]].runtime_average.toFixed(3) +`
  </td>
  <td>
    `+ data.data[keys[i]].executed_times +`
  </td>
</tr>
`
					}
				});
			}

		$(function() {
          loadMore();
          get_max_concurrent();
        });
    </script>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
