{% extends 'layouts/base.html' %}

{% block title %} Tasks {% endblock title %}

{% block content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<div class="container-fluid py-4">
		<div class="row mb-3">
			<div class="col-lg-12 mb-lg-0 mb-4">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>History of Task : <span id="task_name" class="text-primary"></span></h6>
						<a href="{{ referrer|default('/tasks.html') }}" class="btn btn-secondary btn-sm mb-0 me-3">Back</a>
						<hr>
					</div>
					<div class="card-body px-0 pt-0 pb-2">
						<div class="table-responsive p-4">
							<table class="table align-items-center justify-content-center mb-0">
								<thead>
									<tr>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">No</th>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">ID</th>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Status</th>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Started</th>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Runtime (seconds)</th>
										<th class="text-uppercase text-dark text-xs font-weight-bolder opacity-7 ps-2">Result</th>
									</tr>
								</thead>
								<tbody id="result"></tbody>
								<tbody>
									<tr>
										<td colspan="6" align="center">
											<hr>
											<button class="btn btn-outline-primary btn-sm mb-0 me-3" id="load_more">load more</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "includes/footer.html" %}

	</div>

{% endblock content %}



<!-- Specific JS goes HERE -->
{% block javascripts %}
	<script>
		let base_url = window.location.origin;
		let page = 1
		let app_name = localStorage.getItem("app_name") ? localStorage.getItem("app_name") : "indonesia";

		function getBg(status) {
			if (status === "STARTED")
				return "bg-info";
			if (status === "FAILURE" || status === "REVOKED")
				return "bg-danger"
			if (status === "SUCCESS")
				return "bg-success";
		}

		function terminate(task_id) {
			$.ajax({
			url: base_url + "/v1/ctask/"+ app_name + "/" + task_id + "/terminate",
			type: 'DELETE',
			success: function(data) {
			location.reload()
			}
			});
		}

		function titleCase(str) {
		str = str.toLowerCase().split(' ');

		for (var i = 0; i < str.length; i++) {
			str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
		}

		return str.join(' ');
		}

		function setTaskNameTitle(task_name) {
			let el = document.getElementById("task_name");
			el.innerHTML = el.innerHTML + task_name
		}

		function loadMore(task_name) {
			$.get( base_url + "/v1/ctask/"+ app_name + "/" + task_name +"/history/" + page, function( data ) {
				let keys = Object.keys(data.data);

				for (let i = 0; i < keys.length; i++) {
					if (i == 0) {
						let friendly_name = titleCase(data.data[keys[i]].name.split('.').slice(-1)[0].replace('_', ' '));
						setTaskNameTitle(friendly_name);
					}

					let el = document.getElementById("result");
					el.innerHTML = el.innerHTML +
					`
					<tr>
						<td>
							<div class="d-flex px-2 py-1">
								<div class="d-flex flex-column justify-content-center">
									<span class="name mb-0 text-sm">`+ ((i + 1) + ((page - 1) * 5)) + `</span>
								</div>
							</div>
							
						</td>
						<td>
							<div class="media align-items-center">
								<div class="media-body">
									<span class="name mb-0 text-sm text-primary"><dt>`+ data.data[keys[i]].uuid +`</dt></span>
								</div>
							</div>
						</td>
						<td>
							<span class="badge badge-sm `+getBg(data.data[keys[i]].state)+`">
								<span class="status">`+ data.data[keys[i]].state +`</span>
							</span>
						</td>
						<td>
							<span class="name mb-0 text-sm">`+ new Date(data.data[keys[i]].started * 1000) + `</span>
						</td>
						<td>
							<span class="name mb-0 text-sm">
							`+ (data.data[keys[i]].runtime ? data.data[keys[i]].runtime.toFixed(3) : "---------") +`
							</span>
						</td>
						<td>
							<span class="name mb-0 text-sm">
							`+ (data.data[keys[i]].result ? data.data[keys[i]].result : "--------")+`
							</span>
						</td>
					</tr>

					`

				}

				page = page + 1;
			});
		}

		$(function() {
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const task_name = urlParams.get('task_name')
			loadMore(task_name)

			$("#load_more").click(function() {
				loadMore(task_name)
			});
		});
  	</script>

	<script src="/static/assets-v2/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
{% endblock javascripts %}
